<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:width="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8"language="java" >
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        select {
            width: 225px; /* Ширина списка в пикселах */
        }
    </style>
</head>
<body>
<div>
    <form name="myForm" th:action="@{/add}" th:method="post">
        <tr>
            <div>
                <h6 align ="center">First Name</h6>
             <p align ="center"><input align ="center" name="name" type="text"id="name"required/></p>
            </div>
            <div>
                <h6 align ="center">Last Name</h6>
            <p align ="center"><input name="lastName"type="text"id="lastName"required/></p>
            </div>
            <div>
                <h6 align ="center">Age</h6>
             <p align ="center"><input name="age" type="number"id="age"required/></p>
            </div>
            <div >
                <h6 align ="center">Email</h6>
             <p align ="center"><input name="email" type="email"id="email"required/></p>
            </div>
            <div>
                <h6 align ="center">Password</h6>
            <p align ="center"><input name="password"type="password"id="password"required/></p>
            </div>
              <div>
              <p align ="center"><select name="Role"   size ="3" required>
                       <option value="0">ADMIN</option>
                       <option value="1">USER</option>
                       <option value="2"></option>
                   </select></p>
            </div>
            <p align ="center"><button  id="myBtn">Add new user</button></p>
        </tr>
    </form>
</div>

</body>
</html>
