<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"language="java" >
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        select {
            width: 225px; /* Ширина списка в пикселах */
        }
    </style>
</head>
<body>
<div>
    <form th:action="@{/edit}" th:method="POST">
        <tr th:each="user : ${messages}">
         <p align="center">  <input type="hidden" name="id" th:value="${user.getId()}"/></p>
            <h6 align="center">First Name</h6>
         <p align="center">   <input name="name" type="text" th:value="${user.getName()}"id="name" required/></p>
            <h6 align="center">Last Name</h6>
         <p align="center"> <input name="lastName"type="text"th:value="${user.getLastName()}"id="lastName" required/></p>
            <h6 align="center">Age</h6>
         <p align="center"> <input name="age" type="number" th:value="${user.getAge()}"id="age"required/></p>
            <h6 align="center">Email</h6>
         <p align="center"> <input name="email" type="email" th:value="${user.getEmail()}"id="email"required/></p>
            <h6 align="center">Password</h6>
         <p align="center">  <input name="password"type="password"th:value="${user.getPassword()}"id="password" required/></p> 
                 <div><p align="center">
                       <select name="Role"   size ="3" required>
                           <option th:value="0">ADMIN</option>
                           <option th:value="1">USER</option>
                           <option th:value="2"></option>
                       </select></p>
            </div>
            <p align="center"><input type="submit" value="Edit User"></p>
        </tr>
        </tr>
    </form>
</div>
</body>
</html>