<!doctype html>
<html lang="en" xmlns:th="http://java.sun.com/jsf/composite">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
<!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="dashboard.css" rel="stylesheet">
<style>
.flex-cols{
min-height: 100rem;
background-color:whitesmoke;
}
.flex-col{
min-height: 100rem;
background-color:white;
}
.btns {
min-width: 230px;
right: 30px;
}
select{
width: 162px;
}

table {
    table-layout: fixed;
}

td:first-child {
    width: 5%;
}
td:last-child {
    width: 15%;
}
th:first-child {
    width: 5%;
}
th:last-child {
    width: 15%;
}





</style>
</head>
<body>
<div class="fixed-top bg-primary" style="background-color:black">
     <tr th:each ="user : ${message}">
         <td th:text="${user.getEmail()}"></td>
         <td>with roles:</td>
         <td th:text="${user.getRoleString()}"></td>
         <table align="right">
         <tr>
         <td><a href="/logout"/>Logout</a></td>
         <tr>
         </table>
     </tr>
 </div>
   <div class= "container-fluid flex-col">
     <div class="row" >
         <div class="col-md-2">
             <div class="btn-group-vertical" role="group" aria-label="Basic example">
                 <a class="btn btns btn-primary"href="#">Admin</a>
                 <a class="btn btns btn-secondary"href="/user">User</a>
             </div>
         </div>
<div class="col-md-10 flex-cols" >
         <h2 class="col-md-10 admin">Admin panel</h2>
         <div class="col-md-10">
             <ul class="nav nav-tabs" role="tablist">
             <li class="active"><a href="#mesage" role="tab" data-toggle="tab">Users table</a></li>
             <!--    <li><a data-toggle="modal" data-target="#addModal">New User</a></li>-->
                 <li><a href="/add">New User</a></li>
             </ul>
             <div class ="card" style="background-color:whitesmoke">
                 <div class="card-body">
                     <div ><h4>All users</h4></div>
                 </div>
            </div>
 <div class="table-responcive" style="background-color:white" >
     <div id="tbl"></div>
     <div id="prv"></div>
     <!--    <table class="table table-hover" id="table">
             <tbody id="data">
         <tr>
             <td><h5>Id</h5></td>
             <td><h5>First Name</h5></td>
             <td><h5>Last Name</h5></td>
             <td><h5>Age</h5></td>
             <td><h5>Email</h5></td>
             <td><h5>Role</h5></td>
             <td><h5>Edit</h5></td>
             <td><h5>Delete</h5></td>
         </tr>
     <tr id="row" th:each="user : ${messages}">
         <td id="id"th:text="${user.getId()}"></td>
         <td id="name" th:text="${user.getName()}"></td>
         <td id="lastname" th:text="${user.getLastName()}"></td>
         <td id="age"th:text="${user.getAge()}"></td>
         <td id="email" th:text="${user.getEmail()}"></td>
         <td id="role"th:text="${user.getRoleString()}"></td>
         <td><button class="btn btn-info edBtn" id="edBtn" data-toggle="modal" data-target="#editModal">Edit</button></td>
         <td><button class="btn btn-danger delBtn" data-toggle="modal" data-target="#myModal">Delete</button></td>
     </tr>
     </tbody>
     </table>-->
     <div id="myModal" class="modal fade" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">х</button>
                    <h4 class="modal-title">Delete User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form class="form-horizontal" id="form" >
                           <tr>
                                <h6 align="center">Id</h6>
                                <p align="center">  <input type="number" name="fid" id="fid" readonly/></p>
                                <h6 align="center"></h6>
                                <h6 align="center">First Name</h6>
                                <p align="center" >   <input name="name" type="text" id="fname" readonly/></p>
                                <h6 align="center">Last Name</h6>
                                <p align="center"> <input name="lastName"type="text"id="flastname" readonly/></p>
                                <h6 align="center">Age</h6>
                                <p align="center"> <input name="age" type="number" id="fage"readonly/></p>
                                <h6 align="center">Email</h6>
                                <p align="center"> <input name="email" type="email" id="femail"readonly/></p>
                                <h6 align="center">Role</h6>
                            <div><p align="center">
                                <select class="form-select" id="frole"  size="3" readonly>
                                    <option  value="0">ADMIN</option>
                                    <option  value="1">USER</option>
                                    <option  value="2"></option>
                                </select></p>
                            </div>
                        </tr>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <table align="right">
                    <tr>
                        <td><input class="btn btn-default" type="submit" value="Close" data-dismiss="modal"></td>
                        <td><input class="btn btn-danger dBtn" type="submit" id="delete" value="Delete" data-dismiss="modal"></td>
                        </tr>
                    </table>
                </div>
            </div>
         </div>
     </div>
    <div id="editModal" class="modal fade" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">х</button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                   <div class="modal-body">
                      <div class="form-group">
                          <form class="form-horizontal" id="eform"  method="PUT">
                            <tr>
                                  <h6 align="center">Id</h6>
                                  <p align="center">  <input type="number" name="id" id="efid" readonly/></p>
                                  <h6 align="center"></h6>
                                  <h6 align="center">First Name</h6>
                                  <p align="center" >   <input name="name" type="text" id="efname" required/></p>
                                  <h6 align="center">Last Name</h6>
                                  <p align="center"> <input name="lastname"type="text"id="eflastname" required/></p>
                                  <h6 align="center">Age</h6>
                                  <p align="center"> <input name="age" type="number" id="efage"required/></p>
                                  <h6 align="center">Email</h6>
                                  <p align="center"> <input name="email" type="email" id="efemail"required/></p>
                                  <h6 align="center">Password</h6>
                                  <p align="center">  <input name="password"type="password"id="efpassword" required/></p>
                                  <h6 align="center">Role</h6>
                                  <div><p align="center">
                                      <select class="form-select"   id="efrole" size="3" required>
                                          <option value="0">ADMIN</option>
                                          <option value="1">USER</option>
                                          <option value="2"></option>
                                      </select></p>
                                  </div>
                              </tr>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <table align="right">
                        <tr>
                            <td> <input class="btn btn-default" type="submit" value="Close" data-dismiss="modal"></td>
                            <td> <input class="btn btn-info editBtn" type="submit" id="edit" value="Edit" data-dismiss="modal"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
<div class= "container">
</div><div class="row">
<div class="col-md-12" style="background-color:whitesmoke">
<div class="card-body"></div>
<div class="card"></div>
<div class="card-title">
<h1></h1>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
    "use strict";
    var str;
    //var array = [];
    var id;
    var  stredit ;
  //  var arrayedit = [];

    /*    function addTable() {
            var myTableDiv = document.getElementById("tbl");
            var table = document.createElement('TABLE');
            table.border = '1';
            table.className = 'tabl';
            table.id = 'tabl';
            var tableBody = document.createElement('TBODY');
            table.appendChild(tableBody);
            for (var i = 0; i < 7; i++) {
                var tr = document.createElement('TR');
                tableBody.appendChild(tr);
                for (var j = 0; j < 8; j++) {
                    var td = document.createElement('TD');
                    td.width = '750';
                   // td.appendChild(document.createTextNode("Cell " + i + "," + j));
                    tr.appendChild(td);
                }
            }
            myTableDiv.appendChild(table);
        }
    addTable();
    $(document).ready(function () {
        function changeTable() {
            for (var row = 0; row < 5; row++) {
                for (var col = 0; col < 8; col++) {
                    if (row == 0 && col == 0) {
                        $('.table').children().children()[row].children[col].innerHTML = "Id";
                    }

                    if (row == 0 && col == 1) {
                        $('.table').children().children()[row].children[col].innerHTML = "First Name";
                    }
                    if (row == 0 && col == 2) {
                        $('.table').children().children()[row].children[col].innerHTML = "Last Name";
                    }
                    if (row == 0 && col == 3) {
                        $('.table').children().children()[row].children[col].innerHTML = "Age";
                    }
                    if (row == 0 && col == 4) {
                        $('.table').children().children()[row].children[col].innerHTML = "Email";
                    }
                    if (row == 0 && col == 5) {
                        $('.table').children().children()[row].children[col].innerHTML = "Role";
                    }
                    if (row == 0 && col == 6) {
                        $('.table').children().children()[row].children[col].innerHTML = "Edit";
                    }
                    if (row == 0 && col == 7) {
                        $('.table').children().children()[row].children[col].innerHTML = "Delete";
                    }
                    if (row > 0 && col == 6) {
                        var btnedit = $('<button class="btn btn-info edBtn" id="edBtn" data-toggle="modal" data-target="#editModal">Edit</button>');
                        btnedit.appendTo($('.table').children().children()[row].children[col]);
                    }
                    if (row > 0 && col == 7) {
                        var btndelit = $('<button class="btn btn-danger delBtn" data-toggle="modal" data-target="#myModal">Delete</button>');
                        btndelit.appendTo($('.table').children().children()[row].children[col]);
                    }
                }
            }
        }

        changeTable();
    });  */

        $(function() {
            $(document).ready(function () {
                async function getUsers() {
                    let responce = await fetch('/');
                    let content = await responce.json();
                    let list = document.querySelector('#prv');
                    let key;
                    list.innerHTML = `
                          <table  class="table" id="zgl">
                          <tr>
                          <th>Id</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Age</th>
                          <th>Email</th>
                          <th>Role</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          </tr>
                          </tableborder>
                          `;
                    let Role;
                    for (key in content) {

                        if (JSON.stringify(content[key].roles).length == 61) {
                            Role = 'ADMIN';
                        }
                        if (JSON.stringify(content[key].roles).length == 59) {
                            Role = 'USER';
                        }
                        if (JSON.stringify(content[key].roles).length == 119) {
                            Role = 'ADMIN USER';
                        } else {

                        }
                        list.innerHTML += `<table  class="table table-hover" id="table">
                  <tbody>
                  <tr id ="${content[key].id}">
                  <td>${content[key].id}</td>
                  <td>${content[key].name}</td>
                  <td>${content[key].lastName}</td>
                  <td>${content[key].age}</td>
                  <td>${content[key].email}</td>
                  <td>${Role}</td>
                  <td align="right"><button class="btn btn-info edBtn"  data-toggle="modal" data-target="#editModal">Edit</button></td>
                  <td align="right"><button class="btn btn-danger delBtn" data-toggle="modal" data-target="#myModal">Delete</button></td>
                 </tr>
                 </tbody>
                 </table>`;
                    }
                 //   $("#table tr").each(function() {
                  //     console.log($(this).attr('id'));
                   // });
               }
                getUsers();

                //     });

                //  $(document).ready(function () {

              $('body').on('click','.delBtn', function () {
                  str = $(this).parent('td').parent('tr').attr('id');
                  alert($('#'+str+'').text());
                      var array = [];
                      $('#'+str+'').find('td').each(function () {
                          array.push($(this).text());
                      });
                          $('p #fid').val(array[0]);
                          $('p #fname').val(array[1]);
                          $('p #flastname').val(array[2]);
                          $('p #fage').val(array[3]);
                          $('p #femail').val(array[4]);
              });
           

                $('.dBtn').on('click', function () {
                    $('#'+str+'').remove();
                    fetch('/admin', {
                        method: 'DELETE',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(str)
                    });
                });

                $('body').on('click','.edBtn',function () {
                    stredit = $(this).parent('td').parent('tr').attr('id');
                    alert($('#'+stredit+'').text());
                    var arrayedit = [];
                    $('#'+stredit+'').find('td').each(function () {
                        arrayedit.push($(this).text());
                    });
                    $('p #efid').val(arrayedit[0]);
                    $('p #efname').val(arrayedit[1]);
                    $('p #eflastname').val(arrayedit[2]);
                    $('p #efage').val(arrayedit[3]);
                    $('p #efemail').val(arrayedit[4]);
                });

                $('.editBtn').on('click', function () {
                    $('#'+stredit+'').find('td:eq(0)').text($('#efid').val());
                    $('#'+stredit+'').find('td:eq(1)').text($('#efname').val());
                    $('#'+stredit+'').find('td:eq(2)').text($('#eflastname').val());
                    $('#'+stredit+'').find('td:eq(3)').text($('#efage').val());
                    $('#'+stredit+'').find('td:eq(4)').text($('#efemail').val());

                    if ($('#efrole option:selected').val() == 0) {
                        $('#'+stredit+'').find('td:eq(5)').text('ADMIN');
                        var idrole = 1;
                        var idname = 'ADMIN';

                        var user = [{
                            id: $('#efid').val(),
                            name: $('#efname').val(),
                            lastName: $('#eflastname').val(),
                            age: $('#efage').val(),
                            email: $('#efemail').val(),
                            password: $('#efpassword').val(),
                            roles: [{
                                id: idrole,
                                name: idname
                            }]
                        }];
                        fetch('/admin', {
                            method: 'PUT',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(user)
                        });
                    }

                    if ($('#efrole option:selected').val() == 1) {
                        $('#'+stredit+'').find('td:eq(5)').text('USER');
                        var idrole = 2;
                        var idname = 'USER';

                        var user = [{
                            id: $('#efid').val(),
                            name: $('#efname').val(),
                            lastName: $('#eflastname').val(),
                            age: $('#efage').val(),
                            email: $('#efemail').val(),
                            password: $('#efpassword').val(),
                            roles: [{
                                id: idrole,
                                name: idname
                            }]
                        }];
                        fetch('/admin', {
                            method: 'PUT',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(user)
                        });
                    }
                    if ($('#efrole option:selected').val() == 2) {
                        $('#'+stredit+'').find('td:eq(5)').text('ADMIN USER');
                        var idrole = 1;
                        var idname = 'ROLE_ADMIN';
                        var idrole1 = 2;
                        var idname1 = 'ROLE_USER';

                        var user = [{
                            id: $('#efid').val(),
                            name: $('#efname').val(),
                            lastName: $('#eflastname').val(),
                            age: $('#efage').val(),
                            email: $('#efemail').val(),
                            password: $('#efpassword').val(),
                            roles: [{
                                id: idrole,
                                name: idname
                            },
                                {
                                    id: idrole1,
                                    name: idname1
                                }]
                        }];
                        fetch('/admin', {
                            method: 'PUT',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(user)
                        });
                    }
                });

            });
        });

</script>
</body>
</html>